i {
  margin: 15px;

}

.icon-image {
  width: 35px;
}
.dash-li {
  color: aliceblue;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
}
a {
  color: antiquewhite;
}
.logout {
  color: aliceblue;
}