.vertical-menu-wrapper .vertical-menu hr {
  opacity: 0.1;
  border-width: 0.5px;
}
.vertical-menu {
  width: 90%;
  padding-inline-start: 0;
  margin: 10px;
  height: calc(100% - 20px);
  margin-bottom: 1px;
}
.vertical-menu-logo {
  padding: 20px;
  font-size: 1.3em;
  position: relative;
}
.vertical-menu-logo .open-menu-btn {
  width: 30px;
  height: max-content;
  position: absolute;
  display: block;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.vertical-menu-logo .open-menu-btn hr {
  margin: 5px 0;
}
.image {
  width: 50px;
}
