.navigation {
  background-color: white;
  top: 10px;
  left: 0;
  right: 0;
  height: 100px;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  margin: 0 auto;
  padding: 7px;
}

.navigation * {
  display: inline;
  bottom: 20px;
}

.navigation li {
  margin: 30px;
  bottom: 20px;
}

.navigation li a {
  color: black;
  text-decoration: none;
}
.image {
  height: 80px;
  margin-left: 40px;
}
#outer-circle {
  content: "";
  top: 240px;
  right: 15px;
  transform: translate(50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4da6ff;
  mix-blend-mode: darken;
}